<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
	var firstClick = true;
	var photoHTML;
	var photoSelector;
	
	var squareCrop = $("img.square-crop");
	var columnWidth = squareCrop.parent().width();
	squareCrop.each(function(){
		if(this.naturalWidth>this.naturalHeight){
			// $(this).parent().height(columnWidth);
			$(this).height(columnWidth);
			$(this).css("width","auto");
		} else {
			$(this).css("width","100%");
			$(this).css("height","auto");
			$(this).parent().height(columnWidth);
		}
	});
		
	$("img").click(swap);
	
	function swap(){
		if(firstClick){
			// console.log("##################################");
			// console.log("photo A: "+ $(this).attr("alt"));
			firstClick = !firstClick;
			console.log($(this).attr("id"));
			$(this).addClass("swapped");
			$(this).parent().addClass("swapped");
			photoSelector = $(this);
			photoHTML = $(this).parent().html();
		} else{
			// console.log("photo B: "+ $(this).attr("alt"));
			firstClick = !firstClick;
			console.log($(this).attr("id"));
			$(this).addClass("swapped");
			$(this).parent().addClass("swapped");
			photoSelector.parent().html($(this).parent().html());
			$(this).parent().html(photoHTML);
			$("img.swapped").click(swap);
			$(".swapped").removeClass("swapped");
		}
	}

	$("#save").click(function(){
		var seq = [];
		$("img").each(function(index){
			seq.push($(this).attr("id"));
		});
		$.post("/photos/modify",{seq:seq}); //data to be sent
	});	

	$(window).resize(function(){
		squareCrop = $("img.square-crop");
		columnWidth = squareCrop.parent().width();
		squareCrop.each(function(){
			if(this.naturalWidth>this.naturalHeight){
				// $(this).parent().height(columnWidth);
				$(this).height(columnWidth);
				$(this).css("width","auto");
			} else {
				$(this).css("width","100%");
				$(this).css("height","auto");
				$(this).parent().height(columnWidth);
			}
		});
	});
</script>
</body>
</html>