<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
	var firstClick = true;
	var photoHTML;
	var photoSelector;
	
	var squareCrop = $("img.square-crop");
	var columnWidth = squareCrop.parent().width();
	squareCrop.each(function(){
		if(this.naturalWidth>this.naturalHeight){
			// $(this).parent().height(columnWidth);
			$(this).height(columnWidth);
			$(this).css("width","auto");
		} else {
			$(this).css("width","100%");
			$(this).css("height","auto");
			$(this).parent().height(columnWidth);
		}
	});
		
	$("i").click(swap);
	
	function swap(){
		if(firstClick){
			console.log("##################################");
			console.log("photo A: "+ $(this).attr("id"));
			firstClick = !firstClick;
			$(this).addClass("swapped");
			photoSelector = $(this);
			photoHTML = $(this).parent().html();
		} else{
			console.log("photo B: "+ $(this).attr("id"));
			firstClick = !firstClick;
			$(this).addClass("swapped");
			photoSelector.parent().html($(this).parent().html());
			$(this).parent().html(photoHTML);
			$(".swapped").click(swap);
			$(".swapped").addClass("checked");
			$(".swapped").removeClass("swapped");
		}
	}

	$("#save").click(function(){
		var seq = [];
		$("img").each(function(index){
			seq.push($(this).attr("id"));
		});
		$.post("/photos/modify",{seq:seq}); //data to be sent
	});	

	var resizeTimer;
	$(window).on('resize', function(e) {
		clearTimeout(resizeTimer);
		resizeTimer = setTimeout(function() {
			squareCrop.each(function(){
				if(this.naturalWidth>this.naturalHeight){
					// $(this).parent().height(columnWidth);
					$(this).height(columnWidth);
					$(this).css("width","auto");
				} else {
					$(this).css("width","100%");
					$(this).css("height","auto");
					$(this).parent().height(columnWidth);
				}
			});					
		}, 250);
	});
</script>
</body>
</html>