<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
	var firstClick = true;
	var photoHTML;
	var photoSelector;
	
	$("img").click(swap);
	
	function swap(){
		if(firstClick){
			console.log("##################################");
			console.log("photo A: "+ $(this).attr("alt"));
			firstClick = !firstClick;
			$(this).addClass("swapped");
			console.log($(this).attr("class"));
			photoSelector = $(this);
			photoHTML = $(this).parent().html();
		} else{
			console.log("photo B: "+ $(this).attr("alt"));
			firstClick = !firstClick;
			$(this).addClass("swapped");
			console.log($(this).attr("class"));
			photoSelector.parent().html($(this).parent().html());
			$(this).parent().html(photoHTML);
			console.log($(".swapped"));
			$(".swapped").click(swap);
			$(".swapped").removeClass("swapped");
			console.log($(".swapped"));
		}
	}
</script>
</body>
</html>