<html>
	<head>
		<title>Instagram Organizer</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<style>
			body{
				background-color: #92bdef;
			}
			.ui.container{
				margin-top:40px;
			}
			div.swapped{
				border: 2px solid navy;
			}
			.ui.grid>.column:not(.row){
				padding: 5px 0 0 5px;
			}
		</style>
	</head>
	<body>