<html>
	<head>
		<title>Instagram Organizer</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="icon" href="https://www.freepngimg.com/download/logo/69822-logo-white-computer-instagram-icons-free-png-hq.png">
		<style>
			body{
				background-color: #92bdef;
			}
			.ui.container{
				margin-top:40px;
			}
			i {
				color:rgba(255,255,255,0.7);
			}
			i.swapped{
				color:rgba(0,255,0,1);
			}
			i:hover {
				color:rgb(116, 255, 116);
			}
			i.checked:not(.swapped){
				color:rgba(51, 255, 248,1);
			}		

			.ui.grid>.column:not(.row){
				padding: 5px 0 0 5px;
			}
		</style>
	</head>
	<body>