<% include partials/header%>

<div class="ui container">
	<div class="ui raised segment">
		<div class="ui form">
			<h1 class="ui header field">
				Organize Your Photos
			</h1>
			<a href="/photos/new" class="ui primary button field">Add Photo</a>
			<button id="save" class="ui positive button field">Save Changes</button>
			<a href="/photos" class="ui negative button field">Undo</a>
			<div class="ui three column grid field">
				<%photos.forEach((photo)=>{%>
					<div style="overflow:hidden;" class="column">
						<img style="width:100%; " src="<%=photo.source%>" alt="<%=photo.description%>" id="<%=photo.position%>" class="square-crop">
						<a style="padding:8px;position:absolute;top:10%;left:10%;" class="circular ui icon big grey button" href="/photos/<%=photo._id%>"><i class="icon settings"></i></a>
					</div>
				<%})%>
			</div>	
		</div>
	</div>	
</div>

<% include partials/footer%>

