<% include partials/header %>

<div class="ui text container">
	<div class="ui raised segment">
		<h2 class="ui header">
			Add Photo
		</h2>
		<form class="ui form" action="/photos" method="POST">
			<div class="field">
				<label>Source</label>
				<input type="text" name="photo[source]">
			</div>
			<div class="field">
				<label>Description</label>
				<textarea rows="5" name="photo[description]"></textarea>
			</div>	
			<div class="field">
				<button type="submit" class="ui primary button">
					Add Photo
				</button>
				<a href="/photos" class="ui button">
					Back
				</a>
			</div>	
		</form>
	</div>
</div>

<% include partials/footer %>