<% include partials/header%>

<div class="ui center aligned text container">
	<div class="ui compact raised segment">
		<div class="ui form">
			<h1 class="ui header field">
				Photo Info
			</h1>
			<div class="field">
				<img class="ui big rounded bordered image" src="<%=photo.source%>">
			</div>
			<div class="field">
				<p>
					<%-photo.description%>
				</p>
			</div>
			<div class="field">				
				<a href="/photos/<%=photo._id%>/edit" class="ui primary button">
					Edit
				</a>
				<form style="display:inline;" action="/photos/<%=photo._id%>?_method=DELETE" method="POST">
					<button type="submit" class="ui negative button">
						Delete
					</button>
				</form>
				<a href="/photos" class="ui secondary button">
					Back
				</a>
			</div>
		</div>
	</div>	
</div>

<% include partials/footer%>